body {
			font-family: 'Verdana', serif;
			/*background-image: url(img/abarrotes2.jpg);*/
			background-color: black;
			color: white;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
		}
 
		.container {
			background-color: darkgoldenrod;
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			border-radius: 30px;
			width: 90%;
			max-width: 600px;
			padding: 20px;
			text-align: left;
			backdrop-filter: blur(30px);
		}
 
		h1, h2 {
			color: white;
			text-align: center;
		}
 
		label {
			display: block;
			margin: 10px 0 5px;
			text-align: left;
			font-weight: bold;
		}
 
		input[type="text"] {
			width: 90%;
			padding: 10px;
			margin-bottom: 15px;
			border: 1px solid #d7ccc8;
			border-radius: 5px;
			background-color: white;

		}

		select
		{
			font-family: 'Verdana';
			background-color: white;
			color: black;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			margin: 5px;
			transition: background-color 0.3s ease;
			width: 60%;

		}
		
 
		input[type="submit"] {
			font-family: 'Verdana';
			background-color: white;
			color: black;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			margin: 5px;
			transition: background-color 0.3s ease;
			width: 60%;
			

		}
 
		input[type="submit"]:hover {
			background-color: palevioletred;
		}